<div class="container card bg-white p-3">
  <div class="page-header">
    <%= link_to documents_path, class: 'btn btn-secondary' do %>
      Toate documentele
    <% end %>
    <% if current_user.permission?(:can_update_publishing) %>
      <%= link_to edit_document_path(@document), class: 'btn btn-primary' do %>
        Editează
      <% end %>
    <% end %>
    <h1>Vezi document</h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Nume:</dt>
    <dd><%= @document.name %></dd>
    <dt>Content:</dt>
    <dd class="border"><%= @document.content.html_safe %></dd>
    <dt>Fisiere:</dt>
    <dd>
      <ul class="list-group">
      <% @document.files.each do |file| %>
        <li class="list-group-item">
          <div class="row justify-content-between">
            <div class="col">
              <% if file.content_type == 'application/pdf' %>
                <embed src="<%= url_for(file) %>#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="800" height="600px" />
              <% elsif file.variable? %>
                <%= link_to url_for(file) do %>
                  <%= image_tag(file.variant(resize_to_fit: [600, 600])) %>
                <% end %>
              <% elsif file.previewable? %>
                <%= link_to url_for(file) do %>
                  <%= link_to image_tag(file.preview(resize_to_fit: [600, 600])) %>
                <% end %>
              <% else %>
                <%= link_to file.filename.to_s, url_for(file), target: :_blank %>
              <% end %>
            </div>
            <div class="col text-end">
              <div id="document_file">
                <%= form_with(model: @document, url: ocr_document_path, method: :patch, local: true) do |form| %>
                  <%= form.hidden_field :file_id, value: file.id %>
                  <%= form.submit 'Transformare ROC', class: 'btn btn-primary m-3 shadow-lg' %>
                <% end %>

                <% unless @document.ocr_text.nil? %>
                  <div class="" style="text-align: justify;">
                    <%= @document.ocr_text.html_safe %>
                  </div>
                <% end %>
              </div>

               <%= link_to 'Crează articol/anunț', new_notice_path(ocr_text: @document.ocr_text), class: 'btn btn-outline-primary my-3' %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </dd>
  </dl>
</div>
