<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div class="card">
      <h1 class='text-center pt-2'>Invită utilizator</h1>
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="card-body">
          <div class="mb-3">
            <%= f.label 'Prenume', class: 'form-label' %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= f.label :last_name, class: 'form-label' %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Adresă email" %>
          </div>

          <div class="mb-3">
            <p><strong>Alege rolul tau:</strong></p>
            <% User.roles.each do |role, index| %>
              <div class='mb-3 form-check'>
                <%= f.radio_button :role, role, class: 'form-check-input', data: { action: 'change->signup#changeRole' } %>
                <%= f.label :"role_#{role}", t("users.roles.#{role}"), class: 'form-check-label' %>
              </div>
            <% end %>
          </div>

          <div class="mb-3 d-grid text-center">
            <%= f.submit "Trimite Invitație", class: "btn btn-primary btn-lg", data: { signup_target: 'sign_up_button' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
