<div class="container card bg-white p-2">
  <div class="page-header">
    <%= link_to stages_path, class: 'btn btn-default' do %>
      Toate Stagiile
    <% end %>
    <%= link_to edit_stage_path(@stage), class: 'btn btn-primary' do %>
      Editează
    <% end %>
    <h1>Detaliu stagiu</h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @stage.name %></dd>
    <dt>Descriere:</dt>
    <dd><%= @stage.description %></dd>
    <dt>Despre:</dt>
    <dd><%= @stage.about %></dd>
    <dt>Pozitie:</dt>
    <dd><%= @stage.position %></dd>
  </dl>
</div>
